@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /*1rem = 10px*/
}

body {
  font-family: 'Roboto', sans-serif;
  width: 100vw;
  overflow-x: hidden;
  line-height: 1.1;
  font-size: 1.7rem;
}

a {
  text-decoration: none;
}

.container {
  max-width: 110rem;
  margin: auto;
  overflow: hidden;
  padding: 2rem;
}

.bg-light {
  background-color: #eee;
  color: #333;
}

.bg-dark {
  background-color: #333;
  color: #fff;
}

.bg-primary {
  background-color: #93CB52;
  color: #fff;
}

.text-primary {
  color: #93CB52;
}

.text-center {
  text-align: center;
}

.l-heading {
  font-size: 5rem;
  line-height: 1.3;
  margin-bottom: 2rem;
}

.m-heading {
  font-size: 3.5rem;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.lead {
  font-size: 1.9rem;
  margin-bottom: 2rem;
  line-height: 1.2;
}

.btn {
  color: #fff;
  background-color: #93CB52;
  padding: 1.3rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
}

.btn:hover {
  background-color: #568f15;
}

.btn-dark {
  background-color: #333;
  color: #fff;
}

.btn-dark:hover {
  background-color: #444;
}

/* Navbar */
#navbar {
  position: fixed;
  width: 100%;
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  z-index: 3;
}

#navbar a {
  color: #fff;
}

#navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar ul li a {
  padding: 1.7rem;
  margin: 0.5rem;
}

#navbar ul li a:hover {
  background-color: #93CB52;
  border-radius: 0.5rem;
}

/* Header */
#header {
  background: linear-gradient(rgba(51, 51, 51, 0.7), rgba(51, 51, 51, 0.7)), url('/img/header.jpg') no-repeat center center/cover;
  height: 100vh;
  text-align: center;
}

#header .header-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  color: #fff;
}

#what {
  clip-path: polygon(0 0, 100% 0%, 100% 88%, 0% 100%);
  padding-bottom: 10rem;
  padding-top: 2rem;
}

#what .boxes {
  display: flex;
  text-align: center;
}

#what .boxes .box {
  flex: 1;
  padding: 2rem;
}

#what .boxes i {
  background-color: #93CB52;
  padding: 3.5rem;
  border-radius: 50%;
  margin-bottom: 2rem;
}

#what .boxes h3 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

/* who */
#who {
  display: flex;
  height: 120vh;
  margin-top: -10rem;
}

#who div {
  flex: 1;
}

#who div:first-child {
  flex: 2;
}

#who .who-img {
  background: url("./img/team.jpg") no-repeat center center/cover;
}

#who .who-content {
  padding: 10rem;
  /* padding-top: 20rem; */
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: center;
  padding-top: 35rem;
}

#who .who-content h3 {
  margin-bottom: 2rem;
}

#who .who-content ul li {
  margin-bottom: 2rem;
  border-bottom: 1px dotted #eee;
  padding: 1rem;
}

#who .who-content ul li:last-child {
  border: none;
}

/* Clients */
#clients {
  padding: 5rem;
}

#clients .clients {
  display: flex;
  justify-content: center;
  padding: 3rem;
  align-items: center;
}

#clients .clients img {
  height: 15rem;
  display: block;
}

#clients .clients div {
  flex: 1;
  margin: 2rem;
}

/* Contact */
#contact {
  display: flex;
}

#contact .contact-form,
#contact .map {
  flex: 1;
}

#contact .contact-form {
  padding: 5rem;
}

#contact .contact-form label,
#contact .contact-form input,
#contact .contact-form textarea {
  display: block;
}

#contact .contact-form input,
#contact .contact-form textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  margin-bottom: 1rem;
}

#contact .contact label {
  margin-bottom: 0.2rem;
}

#contact .map {
  background-color: #eee;
}

#contact .map iframe {
  width: 100%;
  height: 100%;
}

#footer {
  background-color: #333;
  padding: 2rem;
  text-align: center;
  color: #fff;
  font-size: 2rem;
}
